<footer class="footer-area">
  <div class="container">
    <div class="footer-up">
      <div class="row gy-5">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="logo">
            <img width="250" src="assets\images\logo-white.png" />
          </div>
          <p>
            The OMAN ACFE Annual Conference is back, and it’s better than ever!
            This year, the conference will be held in person and will feature a
            variety of industry experts discussing topics related to fraud,
            investigation, and prevention.
          </p>
          <div class="social-area">
            <a><i class="bi bi-facebook"></i></a
            ><a><i class="bi bi-twitter-x"></i></a
            ><a><i class="bi bi-linkedin"></i></a
            ><a><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-12">
          <h5>Quick Link</h5>
          <ul>
            <li>
              <a class="solution-item"><span>-</span> Overview</a>
            </li>
            <li>
              <a class="solution-item"><span>-</span> Board</a>
            </li>
            <li>
              <a class="solution-item"><span>-</span> Media & Gallery</a>
            </li>
            <li>
              <a class="solution-item"><span>-</span> Events & Training</a>
            </li>
            <li>
              <a class="solution-item"><span>-</span> News & Update</a>
            </li>
            <li>
              <a class="solution-item"><span>-</span> Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 com-sm-12">
          <h5>Contact Information</h5>
          <ul>
            <li>
              <a>ACFE OMAN CHAPTER</a>
              <a>E-mail: acfeoman&#64;gmail.com</a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
              <div class="subscribe-form">
                <h5>Newsletter</h5>
                <p>Sign Up now for latest news update</p>
                <form>
                  <input type="email" placeholder="Your email" />
                  <button class="btn-fill">Subscribe</button>
                </form>
              </div>
            </div> -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="copyright-line">© 2024 ACFE Oman. All rights reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="privacy">Privacy Policy | Terms &amp; Conditions</p>
        </div>
      </div>
    </div>
  </div>
</footer>
